

.container {
    width: 60vw;
    max-width: 720px;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    padding: 10px;
}

.mb-3 {
    padding: 10px;
}
